@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background-color: #f7f7ff;
  font-family: Poppins, sans-serif;
  height: 100%;
}

html {
  background-color: #f7f7ff;
  height: 100%;
  font-family: Poppins, sans-serif;
}
#wrapper{
  background-color:  #f7f7ff; 
}
/* :root {
  --main-bg-color: #009d63;
  --main-text-color: #009d63;
  --second-text-color: #bbbec5;
  --second-bg-color:  #f7f7ff;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
} */

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  /* background-image: linear-gradient(
    to right,
    #baf3d7,
    #c2f5de,
    #cbf7e4,
    #d4f8ea,
    #ddfaef
  ); */
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.background {
  background-color: blue;
}
.left-menu{
  background: transparent linear-gradient(190deg, #501769 0%, #382780 100%) 0% 0% no-repeat padding-box;;
}
.header {
  padding: 2em 0.5em;
  text-align: center;
}
.header .alex {
  width: 100px;
  overflow: hidden;
}
.header h2 {
  font-weight: normal;
  font-size: 14px;
  margin: 0;
  color: white;
  margin-bottom: 0;
}
.header p {
  font-size: 12px;
  font-weight: lighter;
  color: #ada9bf;
  margin-top: 0px;
}
.sidebar-menu {
  display: flex;
  padding: 0;
  list-style: none;
  list-style-type: none;
  flex-direction: column;
}
.sidebar-menu li a {
  padding: 18px 18px;
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: white;
}
.sidebar-menu li span {
  margin-right: 47px;
  color: white;
}

.sidebar-menu li a:hover {
  background-color: gba(0, 0, 0, 0.2);
  display: block;
  text-decoration: none;
  color: white;
}

li.have-children ul {
  list-style-type: disc;
  padding-left: 87px;
  color: white;
}

li.have-children span img {
  top: 17px;
  left: 24px;
  position: absolute;
}

li.have-children ul li a {
  font-size: 10px;
  color: #ada9bf;
  margin: 0;
  padding: 0;
}

li.have-children ul li a:hover {
  color: white;
}

li.have-children,
li {
  position: relative;
}

.have-children span::after {
  position: absolute;
  right: 30px;
  top: 21px;
  content: url(images/Path-218.png);
  color: white;
  transition: all 0.5s;
}

li.active.have-children span::after {
  transform: rotate(90deg);
}

.sidebar-menu .have-children > ul {
  display: none;
}

.logo {
  margin: 0 0 4px 33px;
}
.bell {
  margin: 10px 23px 0 0;
  float: right;
}

.bell-dot {
  height: 6px;
  width: 6px;
  float: right;
  margin: 12px -21px 0 0;
  display: flex;
  background: #ff6c7d;
  border-radius: 50%;
}
.dash-heading{
  margin-top: 26px;
    font-weight: bolder;
}

.round1, .round4, .round3, .round2 {
  display: flex;
  margin-left: 12px;
  background-color: #ebfaff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.round2 {
  background-color: #f8f4ff;
}

.round3 {
  background-color: #fff2f2;
}

.round4 {
  background-color: #effff9;
}

h5 {
  font-size: 12px;
  text-align: center;
  color: black;
}

.status {
  font-size: 30px;
  text-align: center;
  color: black;
  font-weight: bold;
}

.description {
  font-size: 10px;
  font-weight: 100;
  text-align: center;
  margin-top: -10px;
  color: #ada9bf;
}
.time {
  font-size: 16px;
  font-weight: 400;
  color: #ada9bf;
}
.revenue {
  font-size: 14px;
  font-weight: bolder;
  color: black;
}

.count {
  color: #b5b5b5;
  font-size: 12px;
  font-weight: 100;
  margin-left: 10px;
}

.chartdot-1 {
  display: flex;
  height: 9px;
  margin: 0px 0 0 0;
  width: 9px;
  background: #fd76d3;
  border-radius: 50%;
  flex-direction: column;
}

.totrevenue {
  font-size: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  margin: -2px 0 0 18px;
  align-content: center;
}

.chartdot-2 {
  display: flex;
  height: 9px;
  margin: -9px 0 0 96px;
  width: 9px;
  background: #707bf8;
  border-radius: 50%;
  flex-direction: column;
}
#single-line-chart {
  margin: 21px 0 0 0;
}

.margrevenue {
  font-size: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  margin: -2px 0 0 18px;
  align-content: center;
}

.x-axis {
  font-size: 12px;
  margin-left: 75px;
  text-align: center;
  color: #b5b5b5;
}


table {
  display: flex;
  border-collapse: collapse;
  background: white;
  margin-top: -16px;
  color: black;
  flex-direction: column;
}

th {
  font-weight: bold;
  padding: 13.5px;
  font-size: 10px;
}

td {
  font-weight: bold;
  padding: 11px;
  font-size: 10px;
}

.left {
  margin: -5px 0 0 9px
}

.right {
  margin-left: 222px;
  margin-top: -37px;
}

h1 {
  margin: -26px 0 0 82px;
  font-weight: bolder;
  font-size: 14px;
  color: black;
}

.marker {
  display: flex;
  justify-content: space-between;
}

.dot1 {
  height: 9px;
  width: 9px;
  background: #3941ff;
  position: absolute;
  border-radius: 50%;
}

.holiday {
  color: #7e8fa0;
  margin: 0 0 0 13px;
  font-size: 9px;
  width: 122px;
}

.dot2 {
  height: 9px;
  width: 9px;
  position: absolute;
  margin: 0 0 0 139px;
  background: #14d114;
  border-radius: 50%
}

.meeting {
  color: #7e8fa0;
  font-size: 9px;
  margin: 0 0 0 13px;
  width: 122px;
}

.dot3 {
  height: 9px;
  width: 9px;
  display: block;
  margin: 18px 0 0 0px;
  background: #ff52c3;
  border-radius: 50%;
}

.session {
  color: #7e8fa0;
  font-size: 9px;
  margin: 0 0 0 14px;
  width: max-content;
}

.dot4 {
  height: 5px;
  width: 5px;
  position: absolute;
  /* left: 221px;
  top: 119px; */
  background: #ff52c3;
  border-radius: 50%;
}

.dot5 {
  height: 5px;
  width: 5px;
  position: absolute;
  /* left: 90px;
  top: 155px; */
  background: #3941ff;
  border-radius: 50%;
}

.dot6 {
  height: 5px;
  width: 5px;
  position: absolute;
  /* left: 191px;
  top: 194px; */
  background: #14d114;
  border-radius: 50%;
}

.dot7 {
  height: 5px;
  width: 5px;
  position: absolute;
  /* left: 123px;
  top: 229px; */
  background: #14d114;
  border-radius: 50%;
}

.dot8 {
  height: 21px;
  width: 22px;
  position: absolute;
  margin: -3px 0 0 -16px;
 
  border: 2px solid #b24aff;
  border-radius: 50%
}

.project-history-table {
  background-color: white;
  display: flex;
  margin-left: 7px;
  border-collapse: collapse;
  /* padding: 12px 0 0 103px; */
  /* margin-top: 5px; */
  width: 98%;
  border-spacing: 20px;
  border-color: #ada9bf;
}

.table-caption {
  padding-bottom: 15px;
}

.project-history-table td {
  padding: 12px;
  vertical-align: middle;
}

.project-history-table tr {
  border-bottom: 1px solid #ada9bf;
}

.table-caption .p1 {
  color: #2b2838;
  text-align: left;
  font-size: 16px;
  /* margin-bottom: 5px; */
}

.table-caption .p2 {
  color: #ada9bf;
  font-size: 13px;
  text-align: left;
  /* margin-bottom: 20px; */
}

.table-header {
  color: #ada9bf;
  font-size: 14px;
  text-align: left;
  padding-bottom: 20px;
  padding-top: 20px;
}

.project-history-table td .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.indicator {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  display: inline-block;
}

.project-history-table .align-dot {
  text-align: center;
}

.para {
  line-height: 7px;
}

.project-history-table .status {
  color: #ada9bf;
  font-size: 8px;
  padding-right: 26px;
}

.project-history-table .sp1 {
  color: #ada9bf;
  font-size: 10px;
}

.project-history-table .year {
  color: #2b2838;
  font-size: 10px;
}

.project-history-table .top-container {
  padding-left: 510px;
}

.project-history-table .dropdown {
  width: 8px;
  height: 5px;
}

.pagination {
  margin-top: -52px;
  margin-left: 436px;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
.borderless{
  border-bottom: none;
}

.page-display {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #bbb7cd;
  font-size: 13px;
}



.skills {
  display: flex;
  color: black;
  flex-direction: column;
  margin: 23px 0 0 0;
}

.Mine {
  font-size: 13px;
  font-weight: bolder;
  margin-left: 16px;
}

.update {
  margin: 0 13px 0 0;
  float: right;
  border: none;
    background: none;
  color: #3f2985;
}

.adbe {
  margin-left: -31px;
}

.adobe {
  font-size: 12px;
  margin-top: 12px;
  margin-left: 35px;
}

.percent {
  font-size: 12px;
  float: right;
  margin: 0 20px 0 0;
}

.percent2 {
  font-size: 12px;
  margin-top: 4px;
  float: right;
  margin-right: 20px;
}

.announce {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.announcement {
  font-size: 14px;
  font-weight: bolder;
  color: black;
}

.awards {
  font-size: 12px;
  color: black;
}

.client {
  font-size: 12px;
  color: #a49fbc;
  float: right;
  margin: -39px 0 0 115px;
}

.violet {
  width: 101px;
  margin-top: -12px;
  color: #5a4796
}

.maskgrp {
  height: 160px;
  display: flex;
}

.name {
  background: transparent linear-gradient(190deg, #501769 0%, #382780 100%) 0% 0% no-repeat padding-box;
}

.name .employee {
  font-size: 14px;
  color: white;
  margin-top: 8px;
  margin-left: 10px;
}

.name .role {
  font-size: 12px;
  float: left;
  color: #ada9bf;
  margin-top: -11px;
  margin-left: 10px;
}

.leftarrow {
  margin-right: 42px;
  float: right;
  margin-top: -24px;
}

.rightarrow {
  margin-right: 12px;
  margin-top: -24px;
  float: right;
}

.comments {
  margin-top: 28px;
  display: flex;
  background-color: white;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
}

.alexander1 {
  font-size: 12px;
}

.person1 {
  margin: 20px 0 0 -107px;
}

.person-name1 {
  font-size: 12px;
  float: left;
  margin: 17px 0 0 52px;
  color: black;
}

.quote1 {
  font-size: 9px;
    float: left;
    margin: 4px 4px 0px 52px;
    color: #ada9bf
}

.duration1 {
  font-size: 9px;
  float: left;
  margin: -3px 0 0 54px;
  color: #ada9bf;
}

.reply1 {
  font-size: 9px;
  float: right;
  margin: -3px 91px 0 0;
  color: #a49fbc;
}

.heart1 {
  float: right;
  margin: -54px -107px 0 0;
}

.black1 {
  color: #ada9bf;
  size: 37px;
  margin: 7px 0 0 9px;
  display: flex;
}

.person2 {
  float: left;
    margin: 21px 0 0 10px;
}

.person-name2 {
  font-size: 12px;
  float: left;
  margin: 31px 0 0 8px;
  color: black;
}

.quote2 {
  font-size: 9px;
  float: left;
  margin: 52px 0 0 -62px;
  color: #ada9bf;
}

.duration2 {
  font-size: 9px;
  float: left;
  margin: 69px 0 0 -121px;
  color: #ada9bf;
}

.heart2 {
  float: right;
  margin: 17px 9px 0 0;
}

.black2 {
  color: #ada9bf;
  size: 37px;
  margin: 7px 0 0 0;
  display: flex;
}

.merlin {
  margin: 14px 0 0 13px;
}

.message {
  background-color: #e8e8e8;
  border: none;
  border-radius: 25px;
  width: 126px;
  height: 25px;
  margin: -34px 0 0 63px;
  text-align: center;
  display: flex;
  font-size: 9px;
  color: #ada9bf;
}

#post {
  background: transparent linear-gradient(190deg, #501769 0%, #382780 100%) 0% 0% no-repeat padding-box;
  font-size: 12px;
  float: right;
  display: flex;
  border: none;
  margin: -22px 14px 0 0;
  color: white;
}

.person4 {
  margin-left: -126px;
  margin-top: 12px;
}

.person-name3 {
  font-size: 12px;
  float: left;
  margin: 24px 0 0 59px;
  color: black;
}

.quote3 {
  font-size: 9px;
  float: left;
  margin: -1px 0 0 59px;
  color: #ada9bf;
}

.duration3 {
  font-size: 9px;
  float: left;
  margin: 4px 0 0 60px;
  color: #ada9bf;
}

.reply2 {
  font-size: 9px;
  float: right;
  margin: 4px 87px 0 0;
  color: #3f2985;
}

.heart3 {
  float: right;
  margin: -42px -104px 0 0;
}

.black3 {
  color: #ada9bf;
  size: 37px;
  margin: 7px 0 0 0;
  display: flex;
}

.links {
  display: flex;
  margin: 46px 0 0 -19px;
  flex-direction: column;
  flex-wrap: wrap;
}

.quick {
  font-size: 15px;
  margin-left: 25px;
  color: black;
}

.aspire {
  font-size: 12px;
  float: left;
  margin-left: 25px;
  color: #bbb7cd;
}

.weblink {
  font-size: 10px;
  float: left;
  margin: 18px 0 0 -126px;
  color: #3f2985;
}

.smartvalue {
  display: flex;
  /* margin-left: 206px; */
  float: right;
  margin: -36px 0 0 206px;
  /* margin-top: -36px; */
  width: 78px
}

.mediclaim {
  font-size: 12px;
  margin: 4px 0 0 25px;
  float: left;
  color: #bbb7cd;
}

.weblink2 {
  font-size: 10px;
  float: left;
  margin-top: 20px;
  margin-left: -100px;
  color: #3f2985;
}

.benpal {
  float: right;
  margin: 8px 11px 0 0;
  width: 53px;
}

.comments::-webkit-scrollbar {
  width: 10px;
  overflow: scroll;
}

.comments::-webkit-scrollbar-track {
  background-color: darkgrey;
}

.comments::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}




.percnt{
  text-align: center;
}

.myskill{
  margin: 15px 0 0 50px;
  font-weight: bolder;
}
.modal-content {
display: block;
margin: 0 0 0 332px;
background-color: white;
height: 422px;
width: 528px;
color: black
}
.skill-image{
  margin-left: 38px;
  margin-top: -2px;
}
.modal-table th{
  text-align: center;
}
/* .modal-table{
  border-collapse: collapse;
}
.modal-table th{
  text-align: center;
}
.up{
  float: left;
  margin: 0 69px 0 -64px;
}
 
.modal-table th,
   td {
  padding: 15px;
  font-size: 12px;
  border-bottom: 2px solid #F5F2FC;
} */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.close {
  
  float: right;
  margin: 3px 19px 0 0;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.add{
  border: 1px solid #3F2985;
}
#skill-update{
  background: transparent linear-gradient(248deg, #501769 0%, #382780 100%) 0% 0% no-repeat padding-box;
  float: right;
  width: 93px;
  height: 28px;
  font-size: 14px;
  border: none;
  margin: 0px -93px 0 0;
  color: white
}
#cancel{
  border: 1px solid #3F2985;
  background: none;
  float: right;
  font-size: 14px;
  margin: 0 178px 0 -112px;
  width: 93px;
  height: 28px;
  /* border: 1px #3F2985; */
  /* FONT-WEIGHT: 200; */
  color: #3F2985;
}
.input-value{
  background-color:#F8F8F8 ;
  text-align: center;
  margin: 0 0 0 12px;
  border: none;
}